<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}">This is my CV</title>
</head>
<body>
<h1 th:text="${title}" />
<h1>Curriculum Vitae</h1>
<hr />
<h2>Basic Information</h2>
<h4>Norman Bintang</h4>
<h4>Depok, 1 Januari 2001, UI</h4>
<hr />
<h2>Education History</h2>
<ul>
    <li>SD - SDN 12 Sesetan</li>
    <li>SMP - SMPN 1 Denpasar</li>
    <li>SMA - SMAN 4 Denpasar</li>
    <li>S1 - Ilmu Komputer, Universitas Indonesia</li>
</ul>

<hr />
<h4>Hi, I'm Norman.</h4>

</body>
</html>
